form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    font-family: var(--pleasant-fontfamily-title);
    color: var(--pleasant-header-foreground);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.create-form {
    background-color: var(--pleasant-primary-background-color);
    border-radius: var(--pleasant-corner-radius);
    border: 1pt solid var(--pleasant-border-color);
    padding: 10px;
}

.checkbox {
    margin-bottom: 20px;
}

#endDate {
    margin-bottom: 20px;
}

#price {
    margin-bottom: 20px;
}

#submit-button {
    margin-top: 30px;
    background-color: var(--pleasant-header-foreground);
    color: var(--pleasant-main-background-color);
    border: none;
    border-radius: var(--pleasant-rounded-corner-radius);
    padding: 10px;
    font-family: var(--pleasant-fontfamily-title);
    font-weight: bold;
    font-size: 14pt;
    margin-bottom: 20px;
    cursor: pointer;
}
#submit-button:hover {
    background-color: var(--pleasant-header-foreground-hover);
}
#submit-button:active {
    background-color: var(--pleasant-header-foreground-pressed);
}

ul {
    padding: 0;
    margin: 0 0 0 20px;
    font-size: 12px;
    color: var(--pleasant-text-secondary-foreground);
}