<header xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <div class="header-container">
        <div class="header_row">
            <div class="logo"><a th:href="@{/}"><img id="pleasant-vacation-logo" th:src="@{media/PleasantVacation.svg}" alt="PleasantVacation"></a></div>

            <div class="nav">
                <a th:href="@{/}" class="nav-button" th:text="#{head.title.main}"></a>
                <a th:href="@{/tours}" class="nav-button" th:text="#{head.title.tours}"></a>
                <a th:href="@{/about}" class="nav-button" th:text="#{head.title.about}"></a>
            </div>

            <div class="nav-mobile">
                <button class="nav-button-menu">
                    <span class="material-symbols-rounded md-24">
                        menu
                    </span>
                </button>
                <div class="select-wrapper">
                    <div class="multi-select">
                        <h2 class="menu-title">Меню</h2>

                        <a th:href="@{/}" class="nav-button"><span class="material-symbols-rounded">home</span> [[#{head.title.main}]]</a>
                        <a th:href="@{/tours}" class="nav-button"><span class="material-symbols-rounded">flight</span> [[#{head.title.tours}]]</a>
                        <a th:href="@{/about}" class="nav-button"><span class="material-symbols-rounded">info</span> [[#{head.title.about}]]</a>
                    </div>
                </div>
            </div>

            <hr class="vertical">

            <div class="profile">
                <span class="material-symbols-rounded md-24">
                    person
                </span>
            </div>
        </div>
    </div>
</header>