<header xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <div class="container">
        <div class="header_row">
            <div class="logo">PleasantVacation</div>

            <div class="nav">
                <a th:href="@{/}" class="nav-button" th:text="#{head.title.main}"></a>
                <a th:href="@{/hub}" class="nav-button" th:text="#{head.title.hub}"></a>
                <a href="#" class="nav-button" th:text="#{head.title.about}"></a>
            </div>

            <div class="profile">
                <span class="material-symbols-rounded md-18">
                    person
                </span>
            </div>
        </div>
    </div>
</header>