<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" id="trips-container"
    th:translate-start-date="#{trip.startDate}" th:translate-end-date="#{trip.endDate}">
    <p class="trips-statistics"><span th:text="#{tours.showed}"></span> <span id="trips-count"></span> <span th:text="#{tours.from}"></span> <span id="trips-total"></span></p>

    <div id="trips"></div>

    <div id="trips-buttons"></div>

    <div id="trips-loader">
        <p th:text="#{tours.loading}"></p>
    </div>

    <div id="trips-empty">
        <p th:text="#{tours.empty}"></p>
    </div>

    <script th:src="@{/js/trips.js}" th:inline="javascript"></script>
</div>