:root {
    --pleasant-corner-radius: 8pt;
    --pleasant-rounded-corner-radius: 20pt;

    --pleasant-error-background-color: #f8d7da;
    --pleasant-error-border-color: #f5c6cb;
    --pleasant-error-foreground-color: #721c24;

    --pleasant-primary-background-color: #d2eae3;

    --pleasant-main-background-color: #DAECE7;
    --pleasant-main-hovered-background-color: #D3E6E0;
    --pleasant-main-pressed-background-color: #c1e1d8;

    --pleasant-menu-hovered-color: #bce1d7;
    --pleasant-menu-pressed-color: #a9d0c5;

    --pleasant-border-color: #B9DCD2;

    --pleasant-header-foreground: #336657;

    --pleasant-text-foreground: #11221D;
    --pleasant-text-selected-foreground: #336657;
    --pleasant-text-active-foreground: #000;

    --pleasant-text-secondary-foreground: rgba(0, 0, 0, 0.3);

    --pleasant-fontfamily-title: Montserrat, serif;
    --pleasant-fontfamily-text: Roboto, serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--pleasant-fontfamily-text);
    color: var(--pleasant-text-foreground);
    background-color: var(--pleasant-main-background-color);
}

hr {
    margin: 10pt 20pt;
    border: none;
    border-top: 1pt solid var(--pleasant-border-color);
}
hr.vertical {
    margin: 0 10pt;
    border: none;
    border-left: 1pt solid var(--pleasant-border-color);
    height: 30pt;
}

a {
    color: var(--pleasant-text-foreground);
    text-decoration: none;
}
a:hover {
    color: var(--pleasant-text-selected-foreground);
}
a:active {
    color: var(--pleasant-text-active-foreground);
}

/* Body */
header {
    height: 50pt;
    padding: 10pt 30pt 0;
}

main {
    padding: 10pt;
    flex: 1 1 auto;
}

footer {
    padding: 10pt;
    padding-top: 20pt;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header */
div.header-container {
    height: 100%;
    margin: 0 auto;
}

div.header_row {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.profile {
    width: 40px;
    height: 40px;
    background-color: var(--pleasant-primary-background-color);
    border-radius: 50%;
    border: 1pt solid var(--pleasant-border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

a.nav-button {
    text-decoration: none;
    border-radius: var(--pleasant-rounded-corner-radius);
    padding: 3pt 10pt;
    color: var(--pleasant-header-foreground);
    font-size: 14pt;
    font-family: var(--pleasant-fontfamily-title);
    margin: 0 3pt;
    width: 100pt;
    white-space: nowrap;
    text-align: center;
}
a.nav-button:hover {
    color: var(--pleasant-text-selected-foreground);
}
a.nav-button:active {
    color: var(--pleasant-text-active-foreground);
}

input[type="submit"] {
    background-color: var(--pleasant-main-background-color);
    border-radius: var(--pleasant-rounded-corner-radius);
    border: 1pt solid var(--pleasant-border-color);
    padding: 3pt 10pt;
    font-size: 14px;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--pleasant-main-hovered-background-color);
}
input[type="submit"]:active {
    background-color: var(--pleasant-main-pressed-background-color);
}

div.nav {
    align-items: center;
    display: flex;
}

div.logo {
    font-family: var(--pleasant-fontfamily-title);
    font-weight: bold;
}

img#pleasant-vacation-logo {
    width: 200px;
}

div.nav-mobile {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    margin-right: 10pt;
    z-index: 100;
}

button.nav-button-menu {
    background-color: transparent;
    border: none;
    padding: 10pt;
    margin: 0;
    cursor: pointer;
    border-radius: var(--pleasant-corner-radius);
    display: flex;
    align-items: center;
    justify-content: center;
}
button.nav-button-menu:hover {
    background-color: var(--pleasant-menu-hovered-color);
}
button.nav-button-menu:active {
    background-color: var(--pleasant-menu-pressed-color);
}

.select-wrapper {
    width: 100%;
    position: relative;
    opacity: 0;
    pointer-events: none;
    transition: opacity 100ms linear 0s;
    filter: drop-shadow(0 3px 10px rgba(0, 0, 0, 0.2));
}

.multi-select {
    margin-top: 4pt;
    box-sizing: border-box;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    border-radius: var(--pleasant-corner-radius);
    position: absolute;
    width: 175pt;
    left: calc((100% - 175pt) / 2);
    overflow: hidden;
    padding: 10pt;
    background-color: var(--pleasant-main-background-color);
    border: 1pt solid var(--pleasant-border-color);
}

.multi-select > .nav-button {
    display: flex;
    align-items: center;
    padding: 0 10pt;
    border: 0;
    width: 100%;
    height: 35pt;
    gap: 10pt;
}

h2.menu-title {
    margin: 0 0 10pt;
    font-size: 14pt;
    text-align: center;
    font-family: var(--pleasant-fontfamily-title);
    color: var(--pleasant-header-foreground);
}

/* Footer */
div.footer-container {
    height: 100%;
    margin: 0 auto;
}

div.footer-info-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul.footer-navigation-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h3.footer-navigation-title {
    color: var(--pleasant-header-foreground);
    margin: 0 0 5pt;
    font-family: var(--pleasant-fontfamily-title);
    font-size: 12pt;
}

hr.footer-line {
    margin: 10pt 50pt;
}

p.footer-copyright {
    text-align: center;
    margin-bottom: 0;
    color: var(--pleasant-text-secondary-foreground);
    font-size: 10pt;
}

img#onebeld {
    width: 150pt;
}

input[type="text"], input[type="password"] {
    height: 35px;
    font-size: 15px;
    border-radius: 90px;
    padding: 10px 15px;
    border: 1pt solid var(--pleasant-border-color);
    background: var(--pleasant-main-background-color);
}

div.trip {
    background-color: var(--pleasant-primary-background-color);
    border: 1pt solid var(--pleasant-border-color);
    border-radius: var(--pleasant-corner-radius);
    overflow: hidden;
    width: 325pt;
    height: 250pt;
    transition: box-shadow 100ms linear 0s;
}
div.trip:hover {
    box-shadow: 0 5pt 15pt rgba(0, 0, 0, 0.2);
}

.trip-header {
    font-family: var(--pleasant-fontfamily-title);
    color: var(--pleasant-header-foreground);
    font-size: 18pt;
    margin-top: 0;
    margin-bottom: 10pt;
}

div.trip-info {
    padding: 10pt;
}

p.trip-info-text {
    margin: 0;
    font-size: 10pt;
}

p.trip-info-text-price {
    font-family: var(--pleasant-fontfamily-title);
    font-weight: 500;
    font-size: 16pt;
    margin: 5pt 0 0;
}

div.trip-image-block {
    background-color: var(--pleasant-main-background-color);
    border-bottom: 1pt solid var(--pleasant-border-color);
    height: 150pt;
    overflow: hidden;
}

img.trip-image {
    width: 100%;
    object-fit: cover;
}

div#trips {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5pt;
    align-items: flex-start;
    align-content: flex-start;
    margin: 0 auto;
}

/* Icons Sizes */
.material-symbols-rounded {
    color: var(--pleasant-header-foreground);
}

.material-symbols-rounded.md-16 {
    font-size: 16px;
}
.material-symbols-rounded.md-18 {
    font-size: 18px;
}
.material-symbols-rounded.md-24 {
    font-size: 24px;
}
.material-symbols-rounded.md-36 {
    font-size: 36px;
}
.material-symbols-rounded.md-48 {
    font-size: 48px;
}
.material-symbols-rounded.md-96 {
    font-size: 96px;
}

@media screen and (max-width: 960px) {
     div.nav {
         display: none;
     }

    div.nav-mobile {
        display: flex;
        margin-left: auto;
        align-items: center;
    }
}