:root {
    --pleasant-corner-radius: 8pt;
    --pleasant-rounded-corner-radius: 20pt;

    --pleasant-primary-background-color: #C9E4DC;

    --pleasant-main-background-color: #DAECE7;
    --pleasant-main-hovered-background-color: #D3E6E0;
    --pleasant-main-pressed-background-color: #CEE0DB;

    --pleasant-border-color: #B9DCD2;

    --pleasant-header-foreground: #336657;

    --pleasant-text-foreground: #11221D;
    --pleasant-text-selected-foreground: #336657;
    --pleasant-text-active-foreground: #000;

    --pleasant-text-secondary-foreground: rgba(0, 0, 0, 0.3);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, serif;
    color: var(--pleasant-text-foreground);
}

hr {
    margin: 10pt 20pt;
    border: none;
    border-top: 1pt solid var(--pleasant-border-color);
}
hr.vertical {
    margin: 0 10pt;
    border: none;
    border-left: 1pt solid var(--pleasant-border-color);
    height: 30pt;
}

a {
    color: var(--pleasant-text-foreground);
    text-decoration: none;
}
a:hover {
    color: var(--pleasant-text-selected-foreground);
}
a:active {
    color: var(--pleasant-text-active-foreground);
}

/* Body */
header {
    height: 40pt;
    padding: 0 20px;
    background-color: var(--pleasant-primary-background-color);
    border-bottom: 1pt solid var(--pleasant-border-color);
}

main {
    padding: 10px;
    background-color: var(--pleasant-main-background-color);
    flex: 1 1 auto;
}

footer {
    padding: 10pt;
    padding-top: 20pt;
    background-color: var(--pleasant-primary-background-color);
    border-top: 1pt solid var(--pleasant-border-color);
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header */
div.header-container {
    height: 100%;
    margin: 0 auto;
}

div.header_row {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.profile {
    width: 40px;
    height: 40px;
    background-color: var(--pleasant-main-background-color);
    border-radius: 50%;
    border: 1pt solid var(--pleasant-border-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

a.nav-button {
    text-decoration: none;
    border: 1pt solid var(--pleasant-border-color);
    border-radius: var(--pleasant-rounded-corner-radius);
    background-color: var(--pleasant-main-background-color);
    padding: 3pt 10pt;
    color: black;
    margin: 0 3pt;
}
a.nav-button:hover {
    background-color: var(--pleasant-main-hovered-background-color);
}
a.nav-button:active {
    background-color: var(--pleasant-main-pressed-background-color);
}

div.nav {
    margin-left: auto;
    display: flex;
    align-items: center;
}

div.logo {
    font-family: Montserrat, serif;
    font-weight: bold;
}

/* Footer */
div.footer-container {
    height: 100%;
    margin: 0 auto;
}

div.footer-info-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div.footer-column.navigation {

}

ul.footer-navigation-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h3.footer-navigation-title {
    color: var(--pleasant-header-foreground);
    margin: 0 0 5pt;
    font-family: Montserrat, serif;
}

hr.footer-line {
    margin: 10pt 50pt;
}

p.footer-copyright {
    text-align: center;
    margin-bottom: 0;
    color: var(--pleasant-text-secondary-foreground);
    font-size: 10pt;
}

img#onebeld {
    width: 200pt;
    color: red;
}

/* Icons Sizes */
.material-symbols-rounded {
    color: var(--pleasant-header-foreground);
}

.material-symbols-rounded.md-16 {
    font-size: 16px;
}
.material-symbols-rounded.md-18 {
    font-size: 18px;
}
.material-symbols-rounded.md-24 {
    font-size: 24px;
}
.material-symbols-rounded.md-36 {
    font-size: 36px;
}
.material-symbols-rounded.md-48 {
    font-size: 48px;
}