.container {
    display: flex;
    gap: 10px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--pleasant-primary-background-color);
    border-radius: var(--pleasant-corner-radius);
    border: 1pt solid var(--pleasant-border-color);
    padding: 10px;
    max-width: 400px;
    align-self: flex-start;
}

.profile.big {
    background-color: var(--pleasant-main-background-color);
}

div.profile.big {
    width: 150px;
    height: 150px;
}

.trips-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.profile-name {
    font-size: 16pt;
    margin-bottom: 0;
    font-family: var(--pleasant-fontfamily-title);
    color: var(--pleasant-text-selected-foreground);
    text-align: center;
}

.profile-type {
    font-size: 12pt;
}

input[type="submit"].logout-button {
    margin-top: 50px;
    background-color: var(--pleasant-error-background-color);
    border: 1pt solid var(--pleasant-error-border-color);
    padding: 5px 20px;
    color: var(--pleasant-error-foreground-color);
    font-family: var(--pleasant-fontfamily-title);
    font-weight: bold;
    border-radius: var(--pleasant-rounded-corner-radius);
    cursor: pointer;
}
input[type="submit"].logout-button:hover {
    background-color: var(--pleasant-error-background-color-hover);
}
input[type="submit"].logout-button:active {
    background-color: var(--pleasant-error-background-color-active);
}

h1 {
    font-family: var(--pleasant-fontfamily-title);
    color: var(--pleasant-text-selected-foreground);
}

@media screen and (max-width: 960px) {
    .profile-container {
        align-self: stretch;
        max-width: none;
    }

    .container {
        flex-direction: column;
    }
}