.container {
    display: flex;
    gap: 10px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--pleasant-primary-background-color);
    border-radius: var(--pleasant-corner-radius);
    border: 1pt solid var(--pleasant-border-color);
    padding: 10px;
}

div.profile.big {
    width: 150px;
    height: 150px;
}

.trips-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.profile-name {
    font-size: 16pt;
    margin-bottom: 0;
}

.profile-type {
    font-size: 12pt;
}

.logout-button {
    margin-top: 50px;
    background-color: var(--pleasant-error-background-color);
    border: 1pt solid var(--pleasant-error-border-color);
    padding: 10px;
    color: var(--pleasant-error-foreground-color);
}