<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" th:lang="${#locale.language}" th:xmllang="${#locale.language}">
    <head>
        <meta charset="UTF-8">
        <title>Pleasant Vacation | Add Tour</title>

        <th:block th:insert="~{fragments/head-links.html :: head}"></th:block>
    </head>
    <body>
        <div class="wrapper">
            <th:block th:replace="~{fragments/header :: header}"></th:block>

            <main>
                <div class="container">
                    <h1>Создание путевки</h1>

                    <form th:action="@{/tours/add}" method="post" enctype="multipart/form-data">
                        <div><label>Название: <input type="text" name="name" required/> </label></div>
                        <div><label>Страна: <input type="text" name="country" required/> </label></div>
                        <div><label>Город: <input type="text" name="city" required/> </label></div>

                        <div>
                            <input type="checkbox" id="allInclusive" name="allInclusive" value="true">
                            <label for="allInclusive">Все включено</label>
                        </div>

                        <!-- Start and end Date select -->
                        <div><label>Начало: <input type="date" name="startDate" required/> </label></div>
                        <div><label>Конец: <input type="date" name="endDate" required/> </label></div>

                        <div><label>Цена: <input type="number" name="price" required/> </label></div>

                        <div><label>Описание: <input type="text" rows="20" name="description" required/> </label></div>

                        <div><label>Изображения: <input type="file" name="images" multiple></label></div>

                        <div><input type="submit" value="Создать"/></div>
                    </form>
                </div>
            </main>

            <th:block th:replace="~{fragments/footer :: footer}"></th:block>
        </div>
    </body>
</html>