<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" th:lang="${#locale.language}" th:xmllang="${#locale.language}">
    <head>
        <meta charset="UTF-8">
        <title>Pleasant Vacation | [[#{trip.createTour}]]</title>

        <th:block th:insert="~{fragments/head-links.html :: head}"></th:block>
        <link rel="stylesheet" th:href="@{/css/pages/add-tour.css}">
    </head>
    <body>
        <div class="wrapper">
            <th:block th:replace="~{fragments/header :: header}"></th:block>

            <main>
                <div class="container">

                    <div class="create-form">
                        <h2 th:text="#{trip.createTour}"></h2>

                        <form th:action="@{/tours/add}" method="post" enctype="multipart/form-data">
                            <label for="name" th:text="#{trip.name}"></label>
                            <input type="text" id="name" name="name" required/>
                            <label for="name" th:text="#{registration.country}"></label>
                            <input type="text" id="country" name="country" required/>
                            <label for="name" th:text="#{registration.city}"></label>
                            <input type="text" id="city" name="city" required/>

                            <div class="checkbox">
                                <input type="checkbox" id="allInclusive" name="allInclusive">
                                <label for="allInclusive" th:text="#{trip.allInclusive}"></label>
                            </div>

                            <!-- Start and end Date select -->
                            <label for="startDate" th:text="#{trip.startDate}"></label>
                            <input type="date" id="startDate" name="startDate" required/>
                            <label for="endDate" th:text="#{trip.endDate}"></label>
                            <input type="date" id="endDate" name="endDate" required/>

                            <label for="price" th:text="#{trip.price}"></label>
                            <input type="number" id="price" name="price" required/>
                            <label for="description" th:text="#{trip.description}"></label>
                            <textarea rows="20" id="description" name="description" required></textarea>

                            <label for="images" th:text="#{trip.images}"></label>
                            <input type="file" id="images" name="images" multiple>
                            <ul>
                                <li><span th:text="#{trip.maxImageSize}"></span> <b>10MB</b></li>
                                <li><span th:text="#{trip.maxImagesSize}"></span> <b>100MB</b></li>
                            </ul>


                            <input type="submit" id="submit-button" th:value="#{trip.create}"/>
                        </form>


                    </div>
                </div>
            </main>

            <th:block th:replace="~{fragments/footer :: footer}"></th:block>
        </div>
    </body>
</html>