<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" th:lang="${#locale.language}" th:xmllang="${#locale.language}">
    <head>
        <meta charset="UTF-8">
        <title>Pleasant Vacation</title>

        <th:block th:insert="~{fragments/head-links.html :: head}"></th:block>
        <link rel="stylesheet" th:href="@{/css/pages/home.css}">
    </head>
    <body>
        <div class="wrapper">
            <th:block th:replace="~{fragments/header :: header}"></th:block>

            <main>
                <div class="container">
                    <div>
                        <img th:src="@{/media/svg/PleasantVacation.svg}" alt="PleasantVacation">
                    </div>
                    <h3 th:text="#{home.tourAggregator}"></h3>
                </div>
            </main>

            <th:block th:replace="~{fragments/footer :: footer}"></th:block>
        </div>
    </body>
</html>