<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Pleasant Vacation | Login</title>

        <th:block th:insert="~{fragments/head-links.html :: head}"></th:block>
    </head>
    <body>
        <div class="wrapper">
            <th:block th:replace="~{fragments/header :: header}"></th:block>

            <main>
                <div class="container">
                    <div class="error">
                        <span th:if="${param.error}">Invalid username and password.</span>
                        <span th:if="${param.logout}">Logged out</span>
                    </div>

                    <form th:action="@{/login}" method="post">
                        <div><label>Username : <input type="text" name="username" required/> </label></div>
                        <div><label>Password: <input type="password" name="password" required/> </label></div>

                        <div><input type="submit" value="Sign In"/></div>
                    </form>

                    <a th:href="@{/registration}">Registration</a>
                </div>
            </main>

            <th:block th:replace="~{fragments/footer :: footer}"></th:block>
        </div>
    </body>
</html>