<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" th:lang="${#locale.language}" th:xmllang="${#locale.language}">
    <head>
        <meta charset="UTF-8">
        <title>Pleasant Vacation | [[#{head.title.tours}]]</title>

        <th:block th:insert="~{fragments/head-links.html :: head}"></th:block>
    </head>
    <body>
        <div class="wrapper">
            <th:block th:replace="~{fragments/header :: header}"></th:block>

            <main>
                <div id="trips">

                </div>
            </main>

            <th:block th:replace="~{fragments/footer :: footer}"></th:block>
        </div>

        <script th:src="@{/js/hub.js}"></script>
    </body>
</html>