<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" th:lang="${#locale.language}" th:xmllang="${#locale.language}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:idtrip="${trip.id}">
        <meta charset="UTF-8">
        <title>Pleasant Vacation | [[${trip.getName()}]]</title>
        <link rel="stylesheet" th:href="@{/css/trip.css}">

        <th:block th:insert="~{fragments/head-links.html :: head}"></th:block>
    </head>
    <body>
        <div class="wrapper">
            <th:block th:replace="~{fragments/header :: header}"></th:block>

            <main>
                <div class="container">
                    <div class="row-container">
                        <div class="carousel-image-block">
                            <div id="carousel-block-images">
                                <th:block th:each="image : ${trip.imageUrls}">
                                    <img class="carousel-image" th:src="${image}" alt="">
                                </th:block>
                            </div>

                            <div class="image-count-block">
                                1/10
                            </div>

                            <button class="carousel-button next">
                                <span class="material-symbols-rounded carousel-button">arrow_forward</span>
                            </button>
                            <button class="carousel-button prev">
                                <span class="material-symbols-rounded carousel-button">arrow_back</span>
                            </button>
                        </div>

                        <div class="title-trip-container">
                            <h1 th:text="${trip.getName()}"></h1>

                            <div>
                                <p>Город: <span th:text="${trip.getCity()}"></span></p>
                                <p>Страна: <span th:text="${trip.getCountry()}"></span></p>
                            </div>

                            <th:block sec:authorize="hasAuthority('USER')">
                                <form th:action="@{/tours/{id}/buy(id=${trip.id})}" method="post">
                                    <input type="submit" class="buy-button" value="Купить"/>
                                </form>
                            </th:block>
                        </div>
                    </div>
                </div>

                <div class="description-container">
                    <h3>Описание</h3>
                    <p th:text="${trip.getDescription()}"></p>
                </div>

                <div class="reviews-container">
                    <h3>Отзывы</h3>

                    <th:block sec:authorize="hasAuthority('USER')">
                        <form th:action="@{/tours/{id}/reviews/add(id=${trip.id})}" method="post">
                            <label>
                                <textarea name="text" placeholder="Напишите отзыв"></textarea>
                            </label>

                            <input type="submit" value="Отправить"/>
                        </form>
                    </th:block>

                    <div id="reviews">

                    </div>
                </div>
            </main>

            <th:block th:replace="~{fragments/footer :: footer}"></th:block>
        </div>

        <script th:src="@{/js/trip.js}" th:inline="javascript"></script>
    </body>
</html>